# Node modules
node_modules/

# Environment variables
.env

# Backups and copies
*ori*
*copy*
*backup*
*.bak
bun.lockb

# Logs
*.log

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
